<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact List</title>
</head>

<body>

    <h2>Contact List</h2>
    <a href="conactForm/">Add New Contact</a> <br><br>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Mobile</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
        {% for contact in contacts %}
        <tr>
            <td>{{contact.name}}</td>
            <td>{{contact.mobile}}</td>
            <td>{{contact.gmail}}</td>
            <td>
                <a href="#">Edit</a> |
                <a href="#">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>

</html>